# NOTE: this is horribly insecure. Don't ever use this configuration for anything that
# handles real funds.

name: drivechain-mempool

services:
  mainchain:
    networks: [drivechain, default]
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:38332"]
      interval: 30s
      timeout: 10s
      retries: 5

    # 8383 = P2P, 38332 = RPC
    ports: ["8383:8383", "38332:38332"]

    # https://github.com/barebitcoin/bitcoin-patched
    image: barebitcoin/bitcoin-patched:2024-09-29-signet
    volumes: [mainchain-data:/root/drivechain]
    restart: unless-stopped
    command:
      - drivechaind
      - -rpcuser=user
      - -rpcpassword=password
      - -server
      - -signet
      - -signetblocktime=60
      - -signetchallenge=00141f61d57873d70d28bd28b3c9f9d6bf818b5a0d6a
      - -listen
      - -port=8383
      - -rpcbind=0.0.0.0
      - -rpcallowip=0.0.0.0/0
      - -debug=rpc
      - -debug=net
      - -txindex
      - -fallbackfee=0.00021

  # TODO: how do we enable SSL here?
  electrs:
    image: mempool/electrs
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:3000/blocks/tip/hash"]
    environment:
      RUST_BACKTRACE: 1

    restart: unless-stopped
    ports:
      - 50001:50001 # Electrum port!

    volumes: [electrs-data:/app/db]

    # https://github.com/Blockstream/esplora?tab=readme-ov-file#how-to-run-the-explorer-for-bitcoin-mainnet
    command:
      - -vvvv # really verbose logging!
      - --timestamp
      - --cookie=user:password
      - --daemon-rpc-addr=mainchain:38332
      - --jsonrpc-import
      - --db-dir=/app/db
      - --network=signet
      - --http-addr=0.0.0.0:3000
      - --electrum-rpc-addr=0.0.0.0:50001
      - --cors=*

  web:
    environment:
      FRONTEND_HTTP_PORT: 8080
      BACKEND_MAINNET_HTTP_HOST: api
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080"]
    image: mempool/frontend
    restart: unless-stopped
    stop_grace_period: 1m
    command: "./wait-for db:3306 --timeout=720 -- nginx -g 'daemon off;'"
    ports: [8080:8080]

  api:
    depends_on: [db]

    # conf: https://github.com/mempool/mempool/blob/e3c3f31ddbf9543db12ef4f7e5032566757d31f9/backend/mempool-config.sample.json#
    environment:
      MEMPOOL_NETWORK: signet
      MEMPOOL_BACKEND: "electrum"
      ELECTRUM_HOST: electrs
      ELECTRUM_PORT: 50001
      ELECTRUM_TLS_ENABLED: "false"
      CORE_RPC_HOST: mainchain
      CORE_RPC_PORT: 38332
      CORE_RPC_USERNAME: user
      CORE_RPC_PASSWORD: password
      DATABASE_ENABLED: "true"
      DATABASE_HOST: "db"
      DATABASE_DATABASE: "mempool"
      DATABASE_USERNAME: "mempool"
      DATABASE_PASSWORD: "mempool"
      STATISTICS_ENABLED: "true"
      FIAT_PRICE_ENABLED: false

    image: mempool/backend
    restart: unless-stopped
    stop_grace_period: 1m
    healthcheck:
      test: ["CMD", "curl", "--fail", "localhost:8999/api/v1/backend-info"]
    command: "./wait-for-it.sh db:3306 --timeout=720 --strict -- ./start.sh"
    volumes:
      - api-data:/backend/cache

  db:
    environment:
      MYSQL_DATABASE: "mempool"
      MYSQL_USER: "mempool"
      MYSQL_PASSWORD: "mempool"
      MYSQL_ROOT_PASSWORD: "admin"
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "mempool",
          "-pmempool",
        ]
    image: mariadb:10.5.21
    restart: unless-stopped
    stop_grace_period: 1m
    volumes:
      - mysql-data:/var/lib/mysql

networks:
  # Set up such that other containers in other projects can connect
  drivechain:
    name: drivechain-network
    external: true

volumes:
  mainchain-data:
  mysql-data:
  api-data:
  electrs-data:
